html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.di-flex{
  display: flex;
}
img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
a{
  text-decoration: none;
}
h1, h2, h3, h4,h5, h6{
  margin: 0;
}
.container {
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container{
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}
@media (max-width: 992px) {
  .container{
    padding-right: 16px;
    padding-left: 16px;
  }
}